main .aboutContainer {
    background: linear-gradient(to bottom, rgba(70, 70, 70, .9), rgba(25, 25, 25, .5));
    margin: 15px auto;
    padding: 3% 10px;
    max-width: 70%;
    box-shadow: 1px 5px 6px rgba(25,25,25,.7);
}

main .aboutContainer h2 {
    text-align: left;
    text-transform: uppercase;
    color: rgba(200, 200, 200, .9);
    text-decoration: none;
    color: rgba(255, 0, 0, .7);
    position: relative;
    margin: 10px 20%;
}

/* different displaying on small screens */
@media only screen and (max-width: 850px){
    main .aboutContainer {
        max-width: 90vw;    
    }
    main .aboutContainer h2 {
        margin: 10px 5%;
    }
}

main .aboutContainer h2:before {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, .7), rgba(255, 0, 0, .2));
    position: absolute;
    bottom: 0;
    width: 50%;
}

main .aboutContainer p {
    text-align: center;
    padding: 20px 20%;
}

main .aboutContainer .freeAbout {
    text-align: center;
    width: auto;
    padding: 0 20%;
}

main .aboutContainer .freeAbout ul {
    width: 100%;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

main .aboutContainer .freeAbout ul li {
    width: auto;
    height: auto;
    display: inline;
}

main .aboutContainer .freeAbout ul li img {
    max-width: 100%;
    width: 4em;
    background: none;  
    max-height: 95%;
    height: 7em;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 7px 15px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, .5);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, .5);
    bottom: 0;
    margin: 0 0px;
    margin-bottom: 10px;
    padding:0 25px;
}

 /* 100% PDF reader Width on Smaller Screens */
 @media only screen and (max-width: 850px){
     main .aboutContainer p {
         text-align: justify;
         padding: 20px 5%;
    }   
        
    main .aboutContainer .freeAbout ul {
        display: inline-block;
        list-style-type: none;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        text-align: center;
    }
        
    main .aboutContainer .freeAbout ul li {
        padding: 10px auto;
        width: auto;
        height: auto;
        display: inline;
    }
    
    main .aboutContainer .freeAbout ul li img {
        max-width: 100%;
        width: 5em;
        max-height: 95%;
        height: 5em;   
    }
}

main .aboutContainer .intouch {
    text-align: center;
}

main .aboutContainer .intouch span a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

main .aboutContainer .intouch span a:hover {
    color: rgba(255, 0, 0, .4);
}