main .bioContainer {
    background: linear-gradient(to bottom, rgba(70, 70, 70, .9), rgba(25, 25, 25, .5));
    margin: 15px auto;
    padding: 20px 10px;
    width: 70%;
    box-shadow: 1px 5px 6px rgba(25,25,25,.7);
}

main .bioContainer p{
    text-align: justify;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

main .bioContainer h2 {
    text-align: left;
    text-transform: uppercase;
    color: rgba(200, 200, 200, .9);
    text-decoration: none;
    color: rgba(255, 0, 0, .7);
    position: relative;
    margin: 10px 10%;
}

main .bioContainer h2:before {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, .7), rgba(255, 0, 0, .2));
    position: absolute;
    bottom: 0;
    width: 50%;
}

/* Collapse content */
#accordion {
    margin: 10px 10%;
}

.accordion-item .accordion-item:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
}
  
.accordion-item .accordion-item:not(:first-of-type) .accordion-header:first-child {
    border-radius: 0;
}
  
.accordion-item .accordion-item:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.accordion-item .accordion-item:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(40,40,40,.6);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
 }

 .accordion-item .accordion-header {
     padding: .75rem 1.25rem;
     margin-bottom: 0;
     background-color: rgba(40,40,40,.7);
     border-bottom: 2px solid rgba(0, 0, 0, 0.125);
     text-align: center;
}

.accordion-item .accordion-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem -1px) 0 0;
}

.accordion-item .accordion-header .accordion-button {
    background: none;
    border: none;
    color: rgba(255, 0, 0, .7);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.accordion-item .accordion-body {
    ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 0;
}

/* collapsing the accordions */
.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
 
@media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none;
    }
}


/* Modal Content (PDF Reader) */
.modal-content {
    margin: auto;
    display: block; 
    width: 95%;
    height: 900px;
    border: none;
    border-radius: 0;
}

@media only screen and (max-width: 750px){
    .modal-content { 
        width: 95%;
        height: 900px;
    }
}

main div .CVLink {
    text-align: center;
    margin: 10px auto;
}

main div .CVLink a {
    text-decoration: none;
    color: rgba(175, 175, 175, .5);
}

main div .CVLink a:hover {
    text-decoration: underline;
    color: rgba(255, 0, 0, .4);
}